* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


nav {
    display: flex;
    justify-content: space-around;
    
    gap: 6px;
    padding: 10px;

}


.link {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    color: rgb(73, 71, 71);
    text-decoration: none;
    transition: all 1s;  
}

span {
    text-decoration: underline;
    
}

.inicio2 {
    text-decoration: underline rgb(255, 49, 49);
}

.juegos2 {
    text-decoration: underline rgb(255, 91, 31);
}

.animes2 {
    text-decoration: underline green;
}
.caras{width: 350px;
    border-radius: 20px;
    transition: all 1s;}

.cartas2 {
    text-decoration: underline green;
}

.pokedex2 {
    text-decoration: underline rgb(93, 204, 255);
}

.noticias2 {
    text-decoration: underline rgb(34, 34, 255);
}

.Inicio:hover {
    background-color: rgb(255, 49, 49);
    color: white;
    padding: 3px
}

.Juegos:hover {
    background-color: rgb(255, 91, 31);
    color: white;
    padding: 3px;
}

.db:hover {
    background-color: green;
    color: white;
    padding: 3px;
}

.cartas:hover {
    background-color: green;
    color: white;
    padding: 3px;
}

.Pokedex:hover {
    background-color: rgb(93, 204, 255);
    color: white;
}

.Noticias:hover {
    background-color: rgb(34, 34, 255);
    color: white;
    padding: 3px;
}

footer {
    padding: 0;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}

.aa {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footermenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.divfooter{display: flex;
    flex-direction: column;
    gap: 20px;padding: 10px;
margin: 0 12vw; font-size: 25px;padding: 30px;}
footer{background-color: rgb(56, 54, 54);}

.tarjetas{display: flex;}

.limitador {
    
    width: 90vw;
    margin: 0 auto;
    
}

.tarjetas {
    text-align: justify;
    justify-content: center;
    width: 90vw;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    line-height: 2;
    padding: 10px;
}

.botonsiguiente{display: flex;background-color: #ffffff;font-size: 30px;color: #000000;text-decoration: none;padding: 10px;margin: 5px;justify-content: center;font-weight: 5px;gap: 5px;}

p{font-size: 23px;text-decoration: underline rgb(240, 205, 11);}
h1{text-align: center;padding: 12px;font-family: 'Pokemon Hollow';gap: 5px;font-weight: 20px;gap: 1px;font-size: 30px;text-decoration: underline rgb(240, 205, 11);}

@font-face{
    font-family: 'Pokemon Solid';
    src: url(/fuentes/Pokemon\ Solid.ttf);
    font-weight:'Pokemon Solid' ;
    font-style: 'Pokemon Solid';
}

@font-face{
    font-family: 'Pokemon Hollow';
    src: url(/fuentes/Pokemon\ Hollow.ttf);
    font-weight:'Pokemon Hollow' ;
    font-style: 'Pokemon Hollow';
}

section{background-image: url(fnd.jpg);}
body{background-color: rgb(56, 54, 54);}
    header{background-color: white;}
    .titulo{text-align: center;padding: 10px;font-family: 'Pokemon Hollow';gap: 5px;font-weight: 20px;gap: 1px;font-size: 40px;text-decoration: none rgb(255, 255, 255);color: #daaa0d;}

.fuego{background-color: rgb(255, 83, 21);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;transition: all 1s;}
.volador{background-color: rgb(109, 102, 99);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
.agua{background-color: rgb(6, 105, 185);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
.planta{background-color: rgb(33, 131, 8);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
.veneno{background-color: rgb(162, 41, 218);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
.pelea{background-color: rgb(185, 77, 6);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
.tierra{background-color: rgb(107, 81, 63);padding: 5px;font-size: 19px;border: none;border-radius: 3px;gap: 10px;margin: 10px;}
button:hover{transition: all 1s;transform: scale(1.2);}
figure:hover{transition: all 1s;transform: scale(1.2);}

.botonsiguiente:hover{background-color: rgb(172, 172, 172);transition: all 1s;}